<% flash.each do |key, value| %>
  <div class="<%= locastyle_class_for_alert(key) %> ls-dismissable">
    <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
    <%= value %>
  </div>
<% end %>
