<aside class="ls-sidebar">
  <div class="ls-sidebar-inner">
    <h1 class="ls-brand-name ls-ico-earth"><%= link_to t('hefesto'), root_path %></h1>

    <nav class="ls-menu">
      <ul>
        <li><%= link_to t('teams.index.add_team'), new_team_path, remote: true, class: 'ls-ico-plus' %></li>
      </ul>
    </nav>
  </div>
</aside>
