<aside class="ls-sidebar">
  <div class="ls-sidebar-inner">
    <h1 class="ls-brand-name ls-ico-earth"><%= link_to t('hefesto'), root_path %></h1>

    <nav class="ls-menu">
      <ul>
        <li><a href="/" class="ls-ico-dashboard" title="Dashboard" role="menuitem"><%= t('dashboard') %></a></li>
      </ul>
    </nav>
  </div>
</aside>
