<aside class="ls-sidebar">
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      <img src="/locawebstyle/assets/images/locastyle/avatar-example.jpg" alt="">
      <span class="ls-name"><%= current_user.name %></span>
      (<%= current_user.username %>)
    </a>

    <nav class="ls-dropdown-nav ls-user-menu" aria-hidden="true">
      <ul>
        <li><%= link_to 'Sair', destroy_user_session_path %></li>
      </ul>
    </nav>
  </div>

  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos/painel1/pre-painel" class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>

    <nav class="ls-menu" role="navigation">
      <ul role="menu">
        <li><a href="/" class="ls-ico-dashboard" title="Dashboard" role="menuitem">Dashboard</a></li>
      </ul>
    </nav>


  </div>
  <span class="ls-sidebar-toggle ls-ico-shaft-left"></span>
</aside>
